{% extends "stregsystem/base.html" %}

{% load stregsystem_extras mobilepay_qr %}


{% block title %}Treoens stregsystem : Indsæt penge {% endblock %}

{% block content %}

<main class="center">
  {% include "stregsystem/_menu_nav.html" with active_nav="pay" %}

  <p><b>Sidste indbetaling:</b> 
    {% if last_payment %}
    {{last_payment.amount|money}} kr. d. {{last_payment.timestamp}}
    {% else %}
    Ingen indbetalinger!
    {% endif %}
  </p>

  <br />

  <p><b>MobilePay QR-koder</b></p>
  <div class="horizontal-table">
    {% for amount in amounts %}
      <div>
        <b>{{amount | floatformat:2}} kr.</b>
        <br /><br />
        <a href="mobilepay://send?phone=90601&comment={{ member.username }}&amount={{ amount }}">
          {% mobilepay_qr member.username amount %}
        </a>
      </div>
    {% endfor %}

    <div>
      <b>Valgfrit beløb</b>
      <br /><br />
      <a href="mobilepay://send?phone=90601&comment={{ member.username }}">
        {% mobilepay_qr member.username %}
      </a>
      <br />
      <b>OBS: Min. 50 kr.</b>   
    </div>
  </div>
</main>

{% endblock %}

